@import "tailwindcss";
:root {
  --root-margin: 0px;
  --root-padding: 0px;
}

body {
   background-color: #f0f4f8;
  margin: var(--root-margin);
  padding: var(--root-padding);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
