@import "tailwindcss";
:root {
  --root-margin: 0px;
  --root-padding: 0px;
}

body {
  font-family:sans-serif;
   background-color: #f0f4f8;
  margin: var(--root-margin);
  padding: var(--root-padding);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.shadow-top {
box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.15);


}
.shadow-sides {
  box-shadow: 
    2px 0 4px -1px rgba(0, 0, 0, 0.15),   /* Right shadow */
   -2px 0 4px -1px rgba(0, 0, 0, 0.15);   /* Left shadow */
}
